body{
	font-family: "Comic Sans MS", cursive;
	margin:0px;
	background-color: blue;
	color; green;
}
img.img1{
	text-align:left;
    width:125px;
	height:130px;
}
.Heading{
	font-family: 'Lucida Calligraphy', cursive;
	background-color: #03071e;
	text-align: center;
	font-size: 59px;
	color: #faa307;
}
.mar{
	font-family: 'Lucida Calligraphy', cursive;
	background-color: #03071e;
	color: #faa307;
	font-size: 25px;
} 
.linkers{
	display: inline;
	text-decoration: none;
	background-color: #9d0208;
	color: #03071e; 
	word-spacing: 3px;
	text-align: center;
	font-size: 45px;
	width: 35px;
}
a{
	text-align: center;
	text-decoration: none;
	color:#6AD194;
}
a:hover{
	color: #C48493;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;

}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
    text-align: center;
}
p.pcul{
	font-family: "Comic Sans MS", cursive;
	font-size: 20px;
	font-weight: bold;
	margin-left: 350px;
	margin-right: 350px;
}
#visit{
	font-size: 25px;
	background-color: blue;

}
img.taj{
   text-align: center;
   background color: orange;
   margin;0px;
}
.mar1{
    font-size: 25px;
	color: grey;
	background-color: blue;
}
.deve{
	color: red;
}
.contact{
	background-color: black;
	color: red;
}
.parts{
	background-color: #ffffeb;
}
.develop{
	background-color: #aaffaa;
	color: red;
}
.city{
	background-color: #ffffeb;
}
.home{
	background-color: #ffffeb;
}
.wondertaj{
	background-color: #ffffeb;
}
p.phome{
	font-family: "Comic Sans MS", cursive;
	font-size: 20px;
	font-weight: bold;
	margin-left: 350px;
	margin-right: 250px;
}
p.ptaj{
	font-family: "Comic Sans MS", cursive;
	font-size: 20px;
	font-weight: bold;
	margin-left: 350px;
	margin-right: 350px;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 1519px;
  height: 553px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/*Scroll to TOP Button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.6;
}

#myBtn:hover {
	opacity: 1
  }

/*Navigation Bar CSS*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9d0208;
}

li.nav_el{
	display: inline;
}

.active {
  background-color: #4CAF50;
}

li a, .dropbtn {
  font-family: "Comic Sans MS", cursive;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #03071e;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #a5a58d;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Howering Shadow*/
    #desc { margin: 0 0 0 0; }
    #desc div { text-transform: uppercase; color: #e85d04; font: 22px "Comic Sans MS", cursive;
                 -webkit-transition: all 0.12s ease-out;
                 -moz-transition: all 0.12s ease-out;
                 -o-transition: all 0.12s ease-out; }
    #desc div:nth-child(1) { font-size: 22px; letter-spacing: 0.7px; }
    #desc div:nth-child(2) { font-size: 22px; letter-spacing: 0.7px; }
    #desc div:nth-child(3) { font-size: 22px; letter-spacing: 0.7px; }
    #desc div:nth-child(4) { font-size: 22px; letter-spacing: 0.7px; }
    #desc div:nth-child(5) { font-size: 22px; letter-spacing: 0.7px; }
    #desc div:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 9px 9px 9px #333; }
    #desc a { color: #fe4902; text-decoration: none;  }

/* For Tabs */
.tab { display: inline-block; 
       margin-left: 40px; } 